* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;   /* ✅ БЕЛЫЙ ФОН */
    color: black;        /* ✅ ЧЁРНЫЙ ТЕКСТ */
    overflow: hidden;
}
.overlay {
    color: white;
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;   /* ✅ РАСТЯГИВАЕТ НА ВЕСЬ ЭКРАН БЕЗ ИСКАЖЕНИЙ */
    z-index: -1;
}
.page {
    max-width: 900px;
    margin: auto;
    padding: 40px;
    background: white;   /* ✅ БЕЛЫЙ ФОН БЛОКА */
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2); /* ✅ КРАСИВАЯ ТЕНЬ */
    color: black;   /* ✅ ТЕКСТ ЧЁРНЫЙ ТОЛЬКО ВНУТРИ СТРАНИЦ */
}


.overlay {
    background: rgba(0,0,0,0.35);
    min-height: 100vh;
    text-align: center;
    padding-top: 120px;
}

.overlay h1 {
    font-size: 60px;
    margin-bottom: 15px;
    letter-spacing: 4px;
}

.overlay p {
    font-size: 24px;
    margin-bottom: 30px;
}

.flag {
    width: 160px;
    margin-bottom: 25px;
    animation: float 3s ease-in-out infinite;
}

nav a {
    display: inline-block;
    margin: 10px 15px;
    padding: 14px 30px;
    background: linear-gradient(45deg, gold, orange);
    color: black;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
}


nav a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px gold;
}

nav a::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgba(255,255,255,0.4);
    top: 100%;
    left: -10%;
    transform: rotate(10deg);
    transition: 0.5s;
}

nav a:hover::after {
    top: -120%;
}

/* ✅ КАРТА */
.map {
    width: 420px;
    margin-top: 40px;
    border-radius: 25px;
    box-shadow: 0
}
.map-box {
    position: relative;
}

.dot1 { top: 26.2%; left: 60.5%; }
.dot {
    width: 18px;
    height: 18px;
    background: gold;
    border-radius: 50%;
}

.dot1 { top: 26.2%; left: 60.5%; }